.footer {
    flex-shrink: 0;
    //background: $backgroundcolor;
    background: transparent;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 48px 0;
    }
    &__logo {
        width: 232px;
        height: 35px;
    }
    &__text {
        margin: 0;
        font-size: 14px;
        line-height: 140%;
        color: $btncolor;
    }
}
