
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../fonts/MonumentExtended-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-done:before {
    content: "\e900";
}
.icon-error:before {
    content: "\e901";
}
.icon-facebook:before {
    content: "\e902";
}
.icon-instagram:before {
    content: "\e903";
    color: #ebebfc;
}
.icon-linkedin:before {
    content: "\e904";
}
.icon-Subtract:before {
    content: "\e905";
}
.icon-svg:before {
    content: "\e906";
    color: #5d5e71;
}
.icon-triangle:before {
    content: "\e907";
    color: #ebebfc;
}
.icon-trianglee:before {
    content: "\e908";
}

