
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../fonts/MonumentExtended-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.ttf?ii6tqr') format('truetype');
    src:  url('../fonts/icomoon.woff?ii6tqr') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-alarm .path1:before {
    content: "\e900";
}
.icon-alarm .path2:before {
    content: "\e901";
    margin-left: -1em;
}
.icon-arrow:before {
    content: "\e902";
}
.icon-burger:before {
    content: "\e903";
    color: $white;
    font-size: 22px;
}
.icon-done:before {
    content: "\e904";
}
.icon-facebook:before {
    content: "\e905";
}
.icon-instagram:before {
    content: "\e906";
}
.icon-linkedin:before {
    content: "\e907";
}
.icon-mail:before {
    content: "\e908";
}
.icon-messanger:before {
    content: "\e909";
}
.icon-telegram:before {
    content: "\e90a";
}
.icon-triangle:before {
    content: "\e90b";
}
.icon-triangleradius:before {
    content: "\e90c";
}
.icon-viber:before {
    content: "\e90d";
}



