.faq {
    margin-top: 100px;
    &__wrapper {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title {
        text-transform: uppercase;
    }
    &__descr {
        max-width: 671px;
        text-align: center;
        color: $white;
    }
    &__tab {
        display: flex;
    }
    &__left {
        width: 750px;
        margin-right: 15px;
    }
    &__right {
        width: 750px;
        margin-left: 15px;
    }
}

.handorgel {
    &__header {
        &--open {
            .handorgel__header__button {
                &:before {
                    transform: translateY(-50%) rotate(-180deg);
                }
            }
        }

        &__button {
            position: relative;
            background-color: transparent;
            border-bottom: 1px solid $bordercolor;
            border-top: none;
            max-width: 750px;
            font-size: 18px;
            text-transform: uppercase;
            &:before {
                @include animate(transform);

                content: "\e903";
                font-family: "icomoon";
                font-size: 20px;
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
            }
        }
    }
}
