.faq {
    margin: 164px 0 64px;
    &__wrapper {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.handorgel {
    border: none;
}

.handorgel {
    &__header {
        &--open {
            background-color: transparent;
            .handorgel__header__button {
                &:before {
                    transform: translateY(-50%) rotate(-180deg);
                }
            }
        }
        &__button {
            position: relative;
            background-color: transparent;
            border-bottom: 1px solid $bordercolor;
            border-top: none;
            max-width: 750px;
            font-size: 18px;
            text-transform: uppercase;
            &:before {
                @include animate(transform);
                content: "\e903";
                font-family: "icomoon";
                font-size: 20px;
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
            }
        }
    }
}

.handorgel__header--open .handorgel__header__button {
    background-color: transparent;
}

.handorgel__header--focus .handorgel__header__button {
    background-color: transparent;
}

.handorgel__content--open {
    background-color: transparent;
}
