.run-line {
    margin: 100px 0 0;
    height: 65px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    flex-grow: 1;
    @include media('<=1240px') {
        margin: 20px 0 0;
    }
    &__item {
        align-items: center;
        width: 100%;
        background-color: $itemcolor;
        padding: 9px 0 9px 0;
        border-radius: 36px;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        height: 65px;
        flex-grow: 1;
        &-text {
            font-size: 18px;
            font-weight: 500;
            padding: 0 40px 0 10px;
            white-space: nowrap;
            margin: 0;
        }
        &-img {
            width: 46px;
            height: 46px;
            display: block;
            margin: 0 0 0 40px;
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 24px;
    }
}
