.run-line {
    margin: 100px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    overflow-x: auto;
    height: 65px;
    position: relative;
    &__item {
        align-items: center;
        width: auto;
        background-color: $itemcolor;
        padding: 9px 23px 9px 11px;
        border-radius: 36px;
        margin-right: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 65px;
        &-text {
            font-size: 18px;
            font-weight: 500;
            margin: 0 0 0 12px;
            white-space: nowrap;
        }
    }
}
