.error {
    &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    &__title {
        margin-top: 300px;
        text-align: center;
        @include media ('<=700px') {
            margin-top: 200px;
        }
    }
    &__subtitle {
        text-align: center;
    }
}
