.helicopter {
    margin: 120px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include media('<=desktop') {
        margin: 40px 0;
    }
    &__wrapper {
        padding: 293px 0 396px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__linked {
        margin-top: 635px;
        left: 85px;
        @include media('<=desktop') {
            margin-top: 600px;
            left: 45px;
        }
        @include media('<=800px') {
            left: 35px;
        }
        @include media('<=700px') {
            left: 25px;
        }
        &::after {
            display: none;
        }
    }
    &__vector {
        margin-top: 230px;
        position: absolute;
        left: 13%;
        @include media('<=1800px') {
            left: 15%;
        }
        @include media('<=1500px') {
            margin-top: 310px;
            left: 14%;
            width: 210px;
            height: 200px;
        }
        @include media('<=740px') {
            left: 16%;
        }
        @include media('<=600px') {
            left: 20%;
        }
        @include media('<=470px') {
            left: 24%;
        }
    }
    &__text {
        max-width: 586px;
        margin-right: 10%;
        @include media('<=1720px') {
            margin-bottom: 140px;
        }
        @include media('<=1500px') {
            margin-bottom: 0px;
        }
    }
}
