.hero {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 0 180px;
    &__wrapper {
        display: flex;
    }
    &__left {
        position: relative;
        width: 670px;
        margin-top: 200px;
        z-index: 0;
        &-title {
            color: $btncolor;
        }
        &-subtitle {
            color: $greycolor;
            margin-top: 28px;
            font-size: 18px;
        }
        &-btn {
            margin-top: 40px;
            &.btn {
                padding: 23px 28px;
            }
        }
    }
    &__right {
        width: 970px;
        height: 545px;
        position: absolute;
        z-index: 4;
        margin: 150px 0 0 588px;
        &-link {
            &:after {
                display: none;
            }
        }
        &-linked {
            top: 455px;
            left: 215px;
        }
        &-absolute {
            position: absolute;
            top: -55px;
            left: 55px;
            transform: translatey(0px);
            animation: float 6s ease-in-out infinite;
        }
    }
    &__back {
        height: 695px;
        width: 1062px;
        position: relative;
        display: block;
        top: -95px;
        left: -755px;
        z-index: 6;
    }
    &__background {
        height: 900px;
        width: 1500px;
        display: block;
        position: relative;
        top: -30px;
        left: -1180px;
        z-index: 6;
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

.backoground {
    background-size: 100%;
}
