.hero {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background: $backgroundcolor;*/
    &__wrapper {
        display: flex;
    }
    &__left {
        position: relative;
        width: 670px;
        margin-top: 200px;
        z-index: 0;
        &-title {
            color: $btncolor;
        }
        &-subtitle {
            color: $greycolor;
            margin-top: 28px;
            font-size: 18px;
        }
        &-btn {
            margin-top: 40px;
            &.btn {
                padding: 23px 28px;
            }
        }
    }
    &__right {
        width: 970px;
        height: 545px;
        position: absolute;
        z-index: 4;
        margin: 150px 0 0 588px;
        &-linked {
            position: relative;
            top: -95px;
            left: 115px;
            z-index: 2;
            &:after {
                display: none;
            }
        }
        &-link {
            &:after {
                display: none;
            }
        }
        &-play {
            position: relative;
            z-index: 2;
            top: 45px;
            left: 142px;
        }
        &-words {
            height: 183px;
            width: 183px;
        }
    }
    &__back {
        height: 695px;
        width: 1062px;
        position: relative;
        display: block;
        top: -95px;
        left: -755px;
        z-index: 6;
    }
    &__background {
        height: 900px;
        width: 1500px;
        display: block;
        position: relative;
        top: -30px;
        left: -1180px;
        z-index: 6;
    }
}

.backoground {
    background-size: 100%;
}
