.heading {
    margin: 171px 0 54px;
    text-align: center;
    @include media('<=1248px') {
        margin: 134px 0 24px;
    }
    @include media('<=768px') {
        margin: 64px 0 24px;
    }
    &__title {
        margin-bottom: 24px;
    }
    &__text {
        max-width: 671px;
        margin: 0 auto;

    }
    &__linked {
        position: absolute;
        top: 80px;
        right: 380px;
        @include media('<=1730px') {
            right: 10%;
        }
        @include media('<=1280px') {
            display: none;
        }
    }
}


.services {
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 490px));
        grid-gap: 30px;
        @include media('<=1566px') {
            grid-template-columns: repeat(2, minmax(340px, 490px));
        }
        @include media('<=840px') {
            display: flex;
            flex-direction: column;
        }
        &-item {
            &:first-child {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 4px 38px;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
                grid-template-rows: auto;
                @include media('<=840px') {
                    display: flex;
                    flex-direction: column;
                }
                &>*{
                    grid-column-start: 2;
                    grid-column-end: 3;
                }
                img {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 4;
                    height: 307px;
                    width: 100%;
                }
                .card {
                    &__title {
                        font-size: 32px;
                        margin-top: 16px;
                    }
                    &__text {
                        font-size: 18px;
                        margin-top: 0;
                        @include media('<=840px') {
                            display: none;
                        }
                    }
                    &__icon {
                        transform: translateY(-10px);
                    }
                }
            }
        }
    }
}
