.subscribe {
    margin-bottom: 120px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
    &__input {
        height: 60px;
        margin-top: 45px;
        &-input {
            height: 59px;
            width: 711px;
            color: $greycolor;
            border-radius: 12px;
            border: 1px solid $greymaxcolor;
        }
        &-btn {
            padding: 20px 56px;
            position: absolute;
            right: 30%;
        }
    }
}
