.subscribe {
    margin-bottom: 120px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
    &__input {
        height: 60px;
        margin-top: 45px;
        &-input {
            height: 59px;
            width: 711px;
            color: $greycolor;
            border-radius: 12px;
            border: 1px solid $greymaxcolor;
        }
        &-btn {
            padding: 20px 56px;
            position: absolute;
            right: 30%;
        }
    }
    &__icons {
        display: flex;
        margin-top: 40px;
    }
    &__round {
        margin-left: 32px;
        background: radial-gradient(68.15% 53.47% at 89.84% 53.91%, #FDEEFF 0%, #B4B5CB 100%);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:after {
            display: none;
        }
        .icon-messanger {
            font-size: 22px;
        }

        .icon-instagram {
            font-size: 22px;
        }

        .icon {
            &:before {
                color: $iconcolor;
            }
        }

        .icon-facebook {
            font-size: 22px;
        }

        &:hover {
            border-bottom: none;
            cursor: pointer;
            background: $backgroundcolor;
            .icon {
                &:before {
                    color: $white;
                }
            }
        }
    }
}
