.subscribe {
    margin: 45px 0 40px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
    &__input {
        height: 60px;
        margin-top: 45px;
        max-width: 711px;
        width: 100%;
        color: $greycolor;
        border-radius: 12px;
        border: 1px solid $greymaxcolor;
        position: relative;
        &-input {
            height: 100%;
            width: 100%;
            color: $greycolor;
            border: none !important;
            padding: 10px 200px 10px 50px !important;
            z-index: 0;
            &::placeholder {
                color: $greytwocolor !important;
            }
        }
        &-icon {
            position: absolute;
            left: 20px;
            z-index: 1;
            transform: translateY(-50%);
            top: 50%;
            color: $greytwocolor;
            font-size: 15px;
        }
        &-btn {
            padding: 20px 56px !important;
            position: absolute;
            right: 0;
            z-index: 2;
            top: 50%;
            min-width: 218px !important;
            text-transform: uppercase;
            transform: translateY(-50%);
        }
    }
}
